.cart-page {
  margin: 30px 0;
}

.cart-page-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart-page .cart-page-wrapper h2 {
  color: #1367ef;
}

/*! cart form start */

.cart-page .cart-form {
  flex-basis: 60%;
}

/*? table start */
.cart-form table img {
  width: 60px;
}

.cart-form .shop-table-wrapper {
  overflow-x: auto;
}

.cart-form table > :not(caption) > * > * {
  padding: 8px 0;
}

.cart-form table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  min-width: 595px;
}

.cart-form table thead th {
  text-align: start;
  font-size: 14px;
  font-weight: 600;
}

.cart-form table .product-quantity,
.cart-form table .product-subtotal {
  text-align: center;
}

.cart-form table tbody {
  border-top: 1px solid #dee0ea;
}

.cart-form table tbody .cart-item {
  border-bottom: 1px solid #dee0ea;
}

.cart-form table tbody .cart-image {
  position: relative;
}

.cart-form table tbody i {
  position: absolute;
  top: 2px;
  left: -6px;
  background-color: #ee403d;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 13px;
  cursor: pointer;
}

/*? table end */

/*! cart form end */

/* responsive */

@media (max-width: 992px) {
  .cart-page-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
